$background: #6b6b6b;
$surface: #10100F;
//$primary: #fc4c04;
$primary: #104f8f;
$primaryText: #cacaca;
//$primary: #023dce;
//$primary: #1a5793;
$text: rgba(102, 102, 102, 0.8);
$secondary: #03DAC6;
$textSpan: #1a1a1a;
$error: #B00020;
$info: #2196F3;
$success: #4CAF50;
$warning: #FB8C00;